<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Contact</h4>
                    <ul>
                        <li><h5>Jesenského 5, Trenčín</h5></li>
                        <li><h5>+421 904 555 777</h5></li>
                        <li><h5>AZooShop@gmail.com</h5></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Information</h4>
                    <ul>
                        <li onclick="LoginWindow()"><a href="#">Login</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="aboutUs.html">About us</a></li>   
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Customer service</h4>
                    <ul>
                        <li><a href="#">Business conditions</a></li>
                        <li><a href="#">Complaints</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Terms of Delivery</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Follow  us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
  </div>
  </footer>